services:
  - type: web
    name: kosmetolog-victoria
    runtime: python
    buildCommand: pip install --upgrade pip && pip install --only-binary=:all: -r requirements.txt
    startCommand: gunicorn --workers 2 --bind 0.0.0.0:$PORT run:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: DEBUG
        value: False

