Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-WTF==1.2.2
Flask-Compress==1.15
WTForms==3.2.1
pydantic==2.10.6
pydantic-settings==2.7.1
loguru==0.7.3
python-dotenv==1.0.1
email-validator==2.2.0
gunicorn==23.0.0
requests==2.32.3
PyJWT==2.10.1

