Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
Flask-Compress==1.14
WTForms==3.1.1
pydantic==2.5.3
pydantic-settings==2.1.0
loguru==0.7.2
python-dotenv==1.0.0
email-validator==2.1.0
gunicorn==21.2.0
requests==2.31.0
PyJWT==2.8.0

